.left-section,
.right-section {
  flex: 1;
  padding: 10px;
}

.horizontal-section {
  margin-bottom: 18px;
  display: flex;
  flex: 1;
}

.horizontal-section input,
.bottom-form-section .info-details,
.information-section,
.information-section-left {
  height: 30px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  background-color: #f3f2f1;
  width: 100%;
}

.information-section {
  display: flex;
  align-items: center;
}

.information-section-left {
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.left-horizontal-section {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.right-horizontal-section {
  flex: 3;
  display: flex;
}

.inner-right-section {
  display: flex;
  flex: 3;
  font-weight: 600;
  align-items: center;
  margin-left: 10px;
}

.inner-left-section {
  flex: 2;
}

.inner-right-input {
  flex: 1;
  margin-left: auto;
}

.inner-right-label {
  font-size: 12px;
  margin-right: 10px;
}

.members-number {
  width: 120px;
}

.select-section {
  flex: 1;
}

.select-section select {
  width: 100%;
}

.select-section-two {
  display: flex;
  flex: 2;
}

.select-section-two select {
  width: 100%;
}


.bottom-form-section {
  display: flex;
  font-weight: 600;
}

.left-bottom-section,
.right-bottom-section {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.right-bottom-section {
  margin-left: 20px;
}

.lower-horizontal-section {
  display: flex;
  margin-bottom: 5px;
}

.lower-label-section {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.lower-label-section,
.lower-input-section {
  flex: 1;
}

.bottom-form-section .info-details {
  background-color: #fff;
  height: 25px;
  font-size: 12px;
}

.error-container-section {
  position: relative;
}

.error-display-section,
.error-display-section-left {
  color: red;
  position: absolute;
  right: 0;
  font-size: 11px;
  bottom: -15px;
}

.error-display-section-left {
  left: 0;
}
