.cash-traction-top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f2f1;
  position: relative;
}

.search-criteria-section {
  position: absolute;
  top: 0;
  left: 35%;
  background-color: #fff;
  width: 50%;
  flex-direction: column;
  padding-bottom: 15px;
}

.search-criteria-section-first {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr 5fr;
  margin-top: 10px;
  padding: 0 10px 0;
}

.search-criteria-section-left {
  flex: 1;
  display: grid !important;
  grid-template-columns: 2fr 1fr 2fr;
  grid-column-gap: 10px;
}

.search-criteria-section-title {
  font-size: 12px;
  font-weight: 600;
}

.cash-traction-top-section div {
  display: flex;
  align-items: center;
}

.cash-traction-top-section div span {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.cash-transaction-middle-section {
  margin-right: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f2f1;
}

.left-cash-transaction-middle-section,
.right-cash-transaction-middle-section {
  flex: 1;
}

.left-cash-transaction-middle-section-inner,
.right-cash-transaction-middle-section-inner,
.left-cash-transaction-middle-receipt-date {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-column-gap: 10px;
  margin-bottom: 10px;
}

.right-cash-transaction-middle-section-inner {
  grid-template-columns: 1fr 2fr 2fr;
}

.right-cash-transaction-middle-section-inner-remarks {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 10px;
  margin-bottom: 10px;
}

.left-cash-transaction-middle-section-title,
.right-cash-transaction-middle-section-title-remarks,
.left-cash-transaction-middle-reciept-title,
.right-cash-transaction-middle-section-title,
.left-cash-transaction-middle-receipt-date input,
.left-cash-transaction-middle-section-inner input,
.right-cash-transaction-middle-section-inner input,
.left-cash-transaction-middle-section-text,
.right-cash-transaction-middle-section-text,
.left-cash-transaction-middle-section-id-name {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 5px;
}

.left-cash-transaction-middle-section-text,
.right-cash-transaction-middle-section-text,
.left-cash-transaction-middle-section-id-name {
  justify-content: center;
  background-color: #f3f2f1;
  padding: 5px 20px;
}

.cash-transaction-middle-section input,
.cash-traction-top-section input {
  background-color: #fff;
  border: 1px solid #f3f2f1;
}

.left-cash-transaction-middle-value-date {
  display: flex;
}

.left-cash-transaction-middle-value-date div {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

.cash-transaction-buttons-section {
  display: flex;
  justify-content: flex-end;
}

.cash-transaction-buttons-section button {
  background-color: #0178d4;
  padding: 5px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
}

.cashier-details-section {
  margin-right: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #f3f2f1;
}

.cashier-details-header {
  font-size: 13px;
  font-weight: bold;
  color: #777;
  margin-bottom: 5px;
}

.cashier-details-section-account-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 5px;
}

.cashier-details-section-account-title {
  display: flex;
}

.cashier-details-inner-title,
.cashier-details-inner-text,
.cashier-details-inner-title-lower {
  flex: 1;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cashier-details-inner-text,
.cashier-details-inner-text-lower {
  justify-content: center;
  flex: 2;
  display: flex;
}

.cashier-details-inner-text-cross-first {
  flex: 1;
  background-color: #f3f2f1;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  justify-content: flex-end;
}

.cashier-details-inner-text-cross {
  padding: 0 10px;
  margin-left: 5px;
  background-color: #f3f2f1;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cashier-details-inner-text div {
  background-color: #f3f2f1;
  width: 100%;
  padding: 3px;
  font-size: 12px;
  padding-left: 10px;
}

.cashier-details-section-account-number-top {
  background-color: #f3f2f1;
  padding: 0 10px !important;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cashier-details-button-section {
  display: flex;
  padding: 10px 0 0;
  justify-content: flex-end;
}

.cashier-details-button-section button {
  border: 2px solid #f3f2f1;
  border-radius: 3px;
  color: #999;
  padding: 3px 20px;
  margin-left: 10px;
  background-color: #fff;
}

.cash-traction-top-section-grid select {
  font-size: 12px;
}

.search-creteria-account-details {
  padding: 10px 0;
  border-top: 1px solid #f3f2f1;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px 0;
}

.search-creteria-account-details-header {
  font-size: 13px;
  font-weight: 600;
  color: #666;
}

.search-creteria-account-details-content-header,
.search-creteria-account-details-content,
.search-creteria-account-details-content-header-two,
.search-creteria-account-details-content-two,
.search-creteria-account-details-content-header {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  width: 100%;
}

.search-creteria-account-details-content-header-two,
.search-creteria-account-details-content-two {
  grid-template-columns: 2fr 3fr 1fr 2fr;
}

.search-creteria-account-details-content-header-grid,
.search-creteria-account-details-content-grid {
  font-size: 12px;
  font-weight: 600;
  background-color: #999;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.search-creteria-account-details-content-grid {
  background-color: #f3f2f1;
  color: #444;
  margin-top: 2px;
  cursor: pointer;
}

.search-criteria-section-header {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  background-color: #0178d4;
  justify-content: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
}

.search-criteria-section-header i {
  position: absolute;
  right: 0;
  font-size: 23px;
  cursor: pointer;
  bottom: 2px;
}

.search-creteria-account-details-content-outer {
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  max-height: 200px;
  overflow-y: auto;
}

.search-creteria-account-details-content-outer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.top-bulk-selection-section-two {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.from-date-section-two {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.from-date-section-two div {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.view-print-export-section-two {
  display: flex;
}

.view-print-export-section-tran-type,
.view-print-export-section-tran-select {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex: 1;
}

.view-print-export-section-tran-type div,
.view-print-export-section-tran-select div {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.view-print-export-section-tran-select {
  margin-left: 20px;
  display: flex;
}

.view-print-export-section-tran-select-table {
  background-color: #f3f2f1;
  margin: 20px 20px 0 0;
  padding: 10px 2px;
  width: 1160px;
  overflow-x: auto;
}

.view-print-export-section-tran-select-top {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: auto;
}

.view-print-export-section-tran-select-header,
.view-print-export-section-tran-inner-content,
.view-state-content-section,
.view-state-header {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr 3fr 3fr 1fr 3fr 3fr 3fr 4fr;
  grid-column-gap: 2px;
  margin-top: 5px;
  width: 1160px;
}

.view-state-header,
.view-state-content-section {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.view-print-export-section-tran-select-header-grid,
.view-print-export-section-tran-inner-content-grid,
.view-state-content-grid,
.view-state-header-grid {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  background-color: #aeaeae;
  padding: 5px;
}

.view-print-export-section-tran-inner-content {
  margin-top: 2px;
}

.view-print-export-section-tran-inner-content-grid,
.view-state-content-grid {
  background-color: #fff;
}

.view-print-export-section-tran-content {
  max-height: 300px;
  cursor: pointer;
  overflow-y: auto;
  width: 1160px;
}

.view-print-export-section-tran-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.transactions-errors {
  position: absolute;
  top: 10;
  right: 0;
  padding: 20px 29px 0;
  background-color: #fff;
}

.transactions-errors ul {
  width: 100%;
}

.transactions-errors li {
  font-size: 11px;
  color: red;
  font-weight: bold;
}

.transactions-errors i {
  position: absolute;
  top: 35px;
  z-index: 6;
  right: 0;
  font-size: 20px;
  color: red;
}

.part-tran-details-section {
  margin: auto;
  font-weight: bold;
}

.part-tran-details-header {
  font-size: 12px;
  color: #666;
  padding: 5px 0 0;
}

.part-tran-details-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 20px 0;
  grid-column-gap: 20px;
}

.total-DR-section label {
  display: flex;
  align-items: center;
}

.total-DR-section-inner {
  padding: 0 10px;
  font-size: 12px;
  min-width: 100px;
}

.total-button-section {
  display: flex;
}

.total-button-section button {
  border: none;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
}

.transaction-details-form-section,
.transaction-details-form-section-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr 1fr 2fr 2fr 1fr 2fr 2fr 1fr;
  grid-column-gap: 2px;
  font-weight: bold;
  background-color: #f3f2f1;
  padding: 2px 2px 0 2px;
}

.transaction-details-form-section .serial-number-grid,
.transaction-details-form-section-content .serial-content-grid {
  background-color: #aeaeae;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.transaction-details-form-section-content .serial-content-grid {
  background-color: #fff;
}

.transaction-details-form-section-container {
  margin-right: 20px;
}

.transaction-details-form-section-container-header {
  background-color: #f3f2f1;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-bottom: 2px;
  padding: 4px;
}

.controlled-hight-transaction-details-form-section-content {
  background-color: #f3f2f1;
  padding-bottom: 2px;
  min-height: 60px;
  overflow-y: auto;
  height: 65px;
  cursor: pointer;
}

.controlled-hight-transaction-details-form-section-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.lower-transaction-submit-section {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  margin-right: 20px;
}

.lower-transaction-submit-section button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #0178d4;
  color: #fff;
}

.cash-transaction-top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-right: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #f3f2f1;
}

.cash-transaction-top-section .login-branch {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.login-branch .login-branch-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.cash-transaction-bottom-section {
  border-bottom: 1px solid #f3f2f1;
  margin: 10px 20px 10px 0;
  padding-bottom: 10px;
}

.cash-transaction-bottom-section-header {
  font-size: 13px;
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
}

.transaction-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transaction-section-content-input {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
}

.transaction-section-content-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: bold;
}

.transaction-section-content-button button {
  padding: 5px 20px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: #0178d4;
  color: #fff;
  margin-right: 20px;
  border-radius: 3px;
}

.transaction-codes-main-section {
  border: 1px solid #F3F2F1;
  padding: 10px;
  border-radius: 3px;
}

.transaction-codes-main-section,
.transaction-codes-main-section-bulk-transaction {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.transaction-codes-main-section-bulk-transaction {
  width: 70%;
}

.transaction-codes-main-section input {
  font-size: 12px;
  font-weight: bold;
}

.transaction-codes-main-section-top {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-column-gap: 20px;
}

.transaction-codes-main-section-left {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 3fr 3fr;
}

.transaction-codes-main-section-top-label,
.transaction-codes-main-section-div-section,
.transaction-codes-main-section-right-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #444;
  padding: 0 10px;
  border-radius: 3px;
}

.transaction-codes-main-section-div-section {
  background-color: #f3f2f1;
}

.transaction-codes-main-section-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-codes-main-section-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-left: 10px;
}

.transaction-codes-main-section-middle-inner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 10px;
}

.transaction-codes-main-section-middle-label {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.transaction-codes-main-section-middle-inner select {
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #f3f2f1;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
}

.transaction-codes-main-section-bottom-behind-scenes {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #f3f2f1;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  padding-left: 10px;
}

.transaction-codes-main-section-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f2f1;
}

.transaction-codes-main-section-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.transaction-codes-main-section-buttons button {
  padding: 5px 20px;
  background-color: #0178d4;
  color: #fff;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.slit-character-outter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
}

.batch-transaction-top {
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f2f1;
}

.slit-character-outter select {
  height: 30px;
  border: none;
  padding: 5px 20px;
  background-color: #f3f2f1;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}

.slit-character-outter .slit-character {
  font-size: 12px;
}

.transaction-codes-main-section-right-fontaws i {
  font-size: 35px;
  cursor: pointer;
  color: #d7d7d7;
}

.transaction-codes-main-section-middle-inner .input-acct-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}

.transaction-codes-main-section-middle-inner .bulk-acct-name {
  background-color: #f3f2f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.part-tran-details-content-bulk {
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f2f1;
}

.part-tran-details-content-bulk-transaction-bottom {
  background-color: #F3F2F1;
  cursor: pointer;
}

.part-tran-details-content-bulk-transaction-bottom-header {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-column-gap: 2px;
}

.part-tran-details-content-bulk-transaction-bottom-header-grid {
  padding: 4px 2px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  background-color: #AEAEAE;
  margin-top: 2px;
}

.part-tran-details-content-bulk-transaction-bottom {
  padding: 0 2px 2px;
  margin-top: 10px;
  min-height: 200px;
}
