.navbar-light {
  background-color: #3a5794;
  height: 60px;
}

.company-logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin-right: 20px;
}

.link-fa-user {
  margin-left: auto;
}

.link-fa-user div {
  margin-left: -120px;
}
