.nav-section {
  position:fixed;
  width:100%;
  top:0;
  z-index: 20;
  margin-bottom: 60px;
}

.view-individual-customer-form,
.individual-customer-form {
  margin-top: 60px;
}

.navbar-light {
  background-color: #0178D4;
  height: 60px;
}

.company-logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin-right: 20px;
}

.link-fa-user {
  margin-left: auto;
}

.link-fa-user div {
  margin-left: -120px;
}
