.maintenance-customer-info {
  color: #666;
  font-weight: bold;
  border-bottom: 3px solid #fff;
  display: flex;
  font-size: 14px;
  padding: 5px;
  justify-content: center;
  background-color: #f3f2f1;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 100%;
}

.lower-downer-section {
  display: flex;
}

.left-inner-form-section {
  background-color: #d7d7d7;
  padding: 10px 5px;
  margin-right: 10px;
  flex: 1;
  z-index: 5;
  height: 90vh;
}

.submit-form-top-section {
  flex: 5;
  display: flex;
}

.set-holiday-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.calender-section {
  flex: 2;
  margin-top: 30px;
}
.holiday-remarks {
  flex: 1;
  margin-top: 30px;
}
.buttons-add-holiday {
  display: flex;
  flex: 2;
}
.view-holidays-section {
  flex: 1;
}

.individual-customer-form {
  /* position: relative; */
}

/* Tab screen sizes */

@media only screen and (min-width: 1000px) {
  .main-form-color {
    flex-direction: column;
  }

  .upper-bottom-section {
    margin-bottom: 60px;
  }

  .bottom-form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .bottom-form-section .form-group {
    width: 100%;
  }
}

.internal-headings {
  color: #666;
  font-size: 14px;
}

.page-refresh {
  display: flex;
  position: absolute;
  justify-content: center;
  align-self: center;
  top: 50%;
  left: 30%;
  /* background-color: #0178d4; */
}

.required:after {
  content: " *";
  color: red;
}

.label {
  color: #444;
}

.label-holiday {
  color: #444;
  width: 150px;
  margin-top: 0px;
  align-self: flex-start;
  /* flex: 1; */
}

.calender-section .input-div {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  /* width: 100%; */
}

.calender-section .input-box {
  width: 65%;
  /* flex: 5; */
}

.holiday-remarks .input-div {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  /* width: 100%; */
}

.holiday-remarks.input-box {
  width: 65%;
  /* flex: 5; */
}

.react-datepicker {
  width: 100% !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}
.react-datepicker__week {
  width: 100% !important;
}

.text-input-holiday {
  width: 100%;
  margin-left: 0px !important;
}

.holiday-buttons-section {
  /* flex: 1; */
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
  width: 65%;
}
.holiday-buttons-section-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

.holidays-listing-table {
  height: 50vh;
  overflow-y: scroll;
  width: 85%;
}

.holidays-header-section {
  font-weight: 700;
  display: flex;
}
.holidays-rows-section {
  font-weight: 700;
  color: #666673;
  display: flex;
}

.holidays-listings {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #aeaeae;
  margin-top: 39px;
  width: 85%;
}

.holidays-rows-section .column-two,
.holidays-rows-section .column-three {
  flex: 1 1;
  background-color: #aaa;
  border-left: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  color: #000;
  padding: 5px 10px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.holidays-header-section .column-two,
.holidays-header-section .column-three {
  flex: 1 1;
  background-color: #aaa;
  border-left: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  color: #000;
  padding: 5px 10px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.holidays-rows-section .column-two:hover,
.holidays-rows-section .column-three:hover {
  background-color: #0178d4;
  color: #fff;
}
