.system-maintenance-customer-info {
  color: #666;
  font-weight: bold;
  border-bottom: 3px solid #fff;
  display: flex;
  font-size: 14px;
  padding: 5px;
  justify-content: center;
  background-color: #f3f2f1;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 100%;
}

.security-lower-downer-section {
  display: flex;
}

.security-left-inner-form-section {
  background-color: #d7d7d7;
  /* padding: 10px 5px; */
  margin-right: 10px;
  flex: 1;
  z-index: 5;
  height: 90vh;
}

.userroledetails-container {
  display: flex;
  justify-content: space-between;
}

.access-rights {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 114px;
}

.rstm-search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0px !important;
  height: 35px;
}

.userrole-container {
}

.modules-role-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.role-choose {
  flex: 1;
}

.system-modules-container {
  flex: 10;
  margin-top: 20px;
}

.form-input-role {
  margin-left: 20px;
  background-color: #d7d7d7;
  border: none;
  outline: none;
}
.role-members {
  flex: 1;
  border-left: 1px solid #d7d7d7;
  height: 50vh;
  padding-left: 20px;
}
.data-entry-rights {
  /* display: flex; */
  /* text-align: center; */
  /* flex-direction: column; */
  /* flex: 1; */
  /* border-left: 1px solid #d7d7d7;
  height: 50vh;
  padding-left: 20px; */
}

.rights-container {
  /* flex: 1; */
  /* width: 50%; */
}
.button-cell {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #0178d4;
  border: none;
  background: none;
}

.buttons-action-roles {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.buttons-link-roles {
  padding: 10px;
  border-radius: 25px;
  width: 80px;
  background: linear-gradient(40deg, #0178d4, #d7d7d7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.role-id,
.description {
  display: flex;
  flex-direction: row;
}

.form-label {
  flex: 1;
}
.form-input {
  flex: 3;
}

.form-role-section {
  display: flex;
  width: 41%;
  flex-direction: column;
}

.security-submit-form-top-section {
  margin-top: 40px;
  flex: 5;
  display: flex;
}

.submit-form-top-section-role {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.role-buttons-section {
  display: flex;
  /* padding: 30px; */
  margin-top: 50px;
  margin-left: 450px;
  justify-content: flex-start;
}

.user-maintenance-buttons-section {
  display: flex;
  margin-top: 30px;
  /* justify-content: flex-end; */
}

.user-maintenancerole-buttons-section {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.create-role-section {
  margin-top: 30px;
}

.display-users-section {
  height: 50vh;
}
.display-role-members-section {
}
.system-individual-customer-form {
  /* position: relative; */
}
.role-members-table {
  height: 50vh;
  overflow-y: scroll;
}

.role-listing-table {
  height: 50vh;
  overflow-y: scroll;
}

.display-roles-section {
  height: 50vh;
}

.create-role-section {
  padding: 10px;
}

/* input {
  cursor: pointer;
  width: 70%;
} */

.roles-lower-form-section {
  display: flex;
  /* height: 350px; */
  border: 1px solid #f3f2f1;
}

.display-roles-section {
  flex: 2;
  padding: 10px;
}

.display-users-section {
  flex: 3;
  border-left: 1px solid #f3f2f1;
  padding: 10px;
}

.roles-header-section {
  display: flex;
}

.column-one,
.column-two,
.column-three {
  flex: 1;
  background-color: #aaa;
  border-left: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  color: #000;
  padding: 5px 10px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.column-three {
  flex: 2;
  border-right: 1px solid #aeaeae;
}

.user-role-listings {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background-color: #aeaeae;
}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}


.internal-headings {
  color: #666;
  font-size: 14px;
}
.buttons-addrole {
  padding: 8px;
  border-radius: 25px;
  margin-top: 10px;
  width: 200px;
  background: linear-gradient(40deg, #0178d4, #d7d7d7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.spinner-small {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.banner-rights {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 70%;
  margin-left: 110px;
}

.banner-access-rights {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 70%;
  /* margin-left: 110px; */
}

.banner-rights:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.banner-access-rights:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.banner-rights .indicator {
  padding: 28px 16px;
  margin-top: 25px;
  height: 100px;
  width: 100%;
}
.banner-access-rights .indicator {
  padding: 18px 16px;
  margin-top: 18px;
  height: 70px;
  width: 100%;
}

.rights-dropdown-container {
  overflow: scroll;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.userrole-search {
  margin: 0 auto;
  width: fit-content;
}

.usermaintenance-section {
  flex: 5;
  margin-top: 25px;
  display: flex;
}

.user-details-section {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.user-settings-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-left: 1px solid #666666;
  padding-left: 40px;
}

.userroleadd-section {
  width: 100%;
  margin-top: 30px;
}
.user-details-data-section {
  width: 100%;
  margin-top: 10px;
}
.userrole-create-header {
  color: #666666;
  font-weight: 700;
  /* text-align: center; */
  margin-left: 160px;
}

.userdetails-create-header {
  color: #666666;
  font-weight: 700;
  margin-left: 160px;
}

.text-input-user {
  width: 95%;
}

.user-details-section .input-div {
  margin-bottom: 20px !important;
}

.user-settings-section .input-div {
  margin-bottom: 10px !important;
}

.user-settings-section .input-box {
  width: 70%;
}

.user-settings-section .text-input-user {
}

.number-role {
  width: 100px;
}

.text-input-role {
  width: 98%;
}

.input-div {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
}

.input-div-half2 {
  display: flex;
  /* justify-content: space-between; */
  width: 63%;
}

.athrice-section-one {
  /* margin-right: auto; */
  width: 33%;
}
.athrice-section-two {
  /* flex: 5;
  align-self: flex-end; */
  width: 33%;
}
.athrice-section-two .text-input-userhalf {
  margin-left: auto;
}
.text-input-userhalf {
  /* margin-left: 0px; */
  margin: 0;
  padding: 0;
  width: 100%;
}
.middle-label {
  width: 33%;
  text-align: center;
}
.input-div .label {
  width: 150px;
}
.label-half {
  width: 150px;
  color: #444444;
}
.input-box {
  width: 65%;
}

.role-choose .input-box {
  width: 85%;
}

.input-box-phone {
  width: 55%;
}

.buttons-section-role {
  padding-left: 0px;
  margin-top: 10px;
}

.checkbox-user {
  height: 20px;
  width: 20px;
}

.checkbox-role {
  height: 20px;
  width: 20px;
}

.user-advanced-settings {
  margin-top: 20px;
}
.user-temporary-role {
  margin-top: 30px;
}

.roles-container {
  display: flex;
  flex-direction: column;
  width: 311px;
  left: 348px;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: #f3f2f1;
}

.modal-hide-section {
  position: absolute;
  display: none;
}
.modal-hide-section-useredit {
  position: absolute;
  display: none;
}
.modal-hide-section-role {
  position: absolute;
  display: none;
}
.modal-hide-section-role-useredit {
  position: absolute;
  display: none;
}
.modal-hide-section-role-choose {
  position: absolute;
  display: none;
}
.modal-hide-section-user-useredit {
  position: absolute;
  display: none;
}

.modal-popup-section {
  position: absolute;
  padding: 10px;
  z-index: 20;
  top: 15px;
  height: 100px;
  left: 150px;
}

.modal-popup-section-useredit {
  position: absolute;
  padding: 10px;
  z-index: 20;
  bottom: 120px;
  height: 100px;
  left: 340px;
}

.modal-popup-section-role {
  position: absolute;
  padding: 10px;
  z-index: 20;
  top: 200px;
  height: 100px;
  right: 105px;
}
.modal-popup-section-role-useredit {
  position: absolute;
  padding: 10px;
  z-index: 20;
  top: 200px;
  height: 100px;
  right: 105px;
}
.modal-popup-section-role-choose {
  position: absolute;
  padding: 10px;
  z-index: 20;
  top: 15px;
  height: 100px;
  left: 100px;
}
.modal-popup-section-user-useredit {
  position: absolute;
  padding: 10px;
  z-index: 20;
  top: 210px;
  height: 100px;
  left: 340px;
}

.inner-section-modal-section {
  overflow-y: auto;
  height: 350px;
}

.inner-section-modal-section-useredit {
  overflow-y: auto;
  height: 200px;
}

.inner-section-modal-section-role {
  overflow-y: auto;
  height: 350px;
  width: 215px;
}
.inner-section-modal-section-role-useredit {
  overflow-y: auto;
  height: 350px;
}
.inner-section-modal-section-role-choose {
  overflow-y: auto;
  height: 350px;
}
.inner-section-modal-section-user-useredit {
  overflow-y: auto;
  height: 330px;
  width: 215px;
}

.inner-section-modal-section-inner {
  display: flex;
  width: 250px;
  background-color: #1991da;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.inner-section-modal-section-inner-useredit {
  display: flex;
  width: 250px;
  background-color: #1991da;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.inner-section-modal-section-inner-role {
  display: flex;
  width: 200px;
  background-color: #1991da;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.inner-section-modal-section-inner-role-useredit {
  display: flex;
  width: 200px;
  background-color: #1991da;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}
.inner-section-modal-section-inner-role-choose {
  display: flex;
  width: 200px;
  background-color: #1991da;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}
.inner-section-modal-section-inner-user-useredit {
  display: flex;
  width: 200px;
  background-color: #1991da;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.user-alert {
  position: absolute;
  top: 20px;
  width: 50%;
  margin: 0 auto;
}

.roles-header-section {
  font-weight: 700;
}
.roles-rows-section {
  font-weight: 700;
  color: #666673;
}

.page-refresh {
  display: flex;
  position: absolute;
  justify-content: center;
  align-self: center;
  top: 50%;
  left: 30%;
  /* background-color: #0178d4; */
}

.rstm-tree-item--active {
  background-color: #1991da !important;
}

.tree-menu-div {
  height: 60vh !important;
  overflow-y: scroll;
}

.indicator {
  font-size: 14px;
  text-align: center;
}

.required:after {
  content: " *";
  color: red;
}

.label {
  color: #444;
}

.input-div .label-role {
  width: 100px;
}

.center-loader {
  text-align: center;
  margin-top: 50px;
}

/* User Branches Styles */

.system-branches-topbar {
  color: #666;
  font-weight: bold;
  border-bottom: 3px solid #fff;
  display: flex;
  font-size: 14px;
  padding: 5px;
  justify-content: center;
  background-color: #f3f2f1;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 100%;
}

.system-branches-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 60px;
}

.display-users-section {
  width: 60%;
}

.user-table-header {
  font-size: 20px;
  font-weight: 600;
}

.user-search-box {
  width: 40%;
}

.user-branches-table {
  height: 60vh;
  overflow-y: scroll;
}

.users-table-row {
  display: flex;
}

.users-table-column1,
.users-table-column2,
.users-table-column3  {
  flex: 1;
  background-color: #aaa;
  border-left: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  color: #000;
  padding: 5px 10px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.users-table-column3 {
  flex: 2;
  border-right: 1px solid #aeaeae;
}

.users-listings {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  background-color: #aeaeae;
}


